openapi: 3.1.0
info:
  title: Merchant Services
  description: |
    FPX facilitates Buyers to securely perform real-time payments from any FPX Merchant via FPX Buyer Bank's internet banking
  version: v1
servers:
- url: https://sandbox.api.paynet.my/fpx/merchants/v1
paths:
  /refunds: {}
  /refunds/exchanges: {}
  /refunds/exchanges/{exchangeId}:
    post:
      description: Bulk Refund API (or AF message) allows Merchant to request for
        the authorization of refund in bulk from Buyer Bank
      operationId: Bulk Refund
      parameters:
      - name: exchangeId
        in: path
        description: Exchange identification assigned by FPX. E.g. EX00000374
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer &lt;access_token&gt;
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        description: Message signature
        required: true
        schema:
          maxLength: 1024
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_1'
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
          x-amf-mediaType: application/json
        401:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        429:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
      security:
      - OAuth 2.0: []
      x-codegen-request-body-name: generated
  /refunds/exchanges/{exchangeId}/transactions: {}
  /refunds/exchanges/{exchangeId}/transactions/{transactionId}: {}
  /refunds/exchanges/{exchangeId}/transactions/{transactionId}/status:
    get:
      description: Bulk Refund Enquiry API (or AQ message) is used to obtain the current
        status of the bulk refund transaction
      operationId: Bulk Refund Enquiry
      parameters:
      - name: messageId
        in: query
        description: |
          Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
          <li>YYYYMMDD – Current Date</li>
          <li>BBBBBBBB – Bank Code</li>
          <li>TTT – Transaction Type. Default to <b>320</b></li>
          <li>CCC – Channel Code. Default to <b>FPX</b></li>
          <li>SSSSSSSS – Sequence Number</li>
        required: true
        schema:
          maxLength: 35
          pattern: ^[a-zA-Z0-9]*$
          type: string
      - name: exchangeOrderNumber
        in: query
        description: Exchange order number of the refund transaction to be inquired.
          Both ampersand (&) and apostrophe (') characters are not supported
        required: true
        schema:
          maxLength: 40
          pattern: ^.*^[a-zA-Z0-9 \[@/()._\-,\\`*\]:#+!;$%^{}~]+$
          type: string
      - name: sellerOrderNumber
        in: query
        description: Merchant order number of the refund transaction to be inquired.
          Both ampersand (&) and apostrophe (') characters are not supported
        required: true
        schema:
          maxLength: 40
          pattern: ^.*^[a-zA-Z0-9 \[@/()._\-,\\`*\]:#+!;$%^{}~]+$
          type: string
      - name: exchangeId
        in: path
        description: Exchange identification assigned by FPX. E.g. EX00000374
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: Unique identification generated by FPX for each payment request
          received from Merchant. Format YYMMDDHH24MISS####
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer &lt;access_token&gt;
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        description: Message signature
        required: true
        schema:
          maxLength: 1024
          type: string
      responses:
        200:
          description: successful response from FPX
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_2'
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
          x-amf-mediaType: application/json
        401:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        429:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
      security:
      - OAuth 2.0: []
  /payments: {}
  /payments/exchanges: {}
  /payments/exchanges/{exchangeId}: {}
  /payments/exchanges/{exchangeId}/sellers/{sellerId}: {}
  /payments/exchanges/{exchangeId}/sellers/{sellerId}/transactions/{transactionId}: {}
  /payments/exchanges/{exchangeId}/sellers/{sellerId}/transactions/{transactionId}/status:
    get:
      description: Status Inquiry API (or AE message) is used to obtain the current
        status of a transaction
      operationId: Status Inquiry
      parameters:
      - name: messageId
        in: query
        description: |
          Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
          <li>YYYYMMDD – Current Date</li>
          <li>BBBBBBBB – Bank Code</li>
          <li>TTT – Transaction Type. Default to <b>319</b></li>
          <li>CCC – Channel Code. Default to <b>FPX</b></li>
          <li>SSSSSSSS – Sequence Number</li>
        required: true
        schema:
          maxLength: 35
          pattern: ^[a-zA-Z0-9]*$
          type: string
      - name: exchangeOrderNumber
        in: query
        description: Exchange order number of the transaction to be inquired. Both
          ampersand (&) and apostrophe (') characters are not supported
        required: true
        schema:
          maxLength: 40
          pattern: ^.*^[a-zA-Z0-9 \[@/()._\-,\\`*\]:#+!;$%^{}~]+$
          type: string
      - name: sellerOrderNumber
        in: query
        description: Merchant order number of the transaction to be inquired. Both
          ampersand (&) and apostrophe (') charcaters are not supported
        required: true
        schema:
          maxLength: 40
          pattern: ^.*^[a-zA-Z0-9 \[@/()._\-,\\`*\]:#+!;$%^{}~]+$
          type: string
      - name: exchangeId
        in: path
        description: Exchange identification assigned by FPX. E.g. EX00000374
        required: true
        schema:
          type: string
      - name: sellerId
        in: path
        description: Seller identification assigned by FPX. E.g. SE00000585
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: Unique identification generated by FPX for each payment request
          received from Merchant. Format YYMMDDHH24MISS####
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer &lt;access_token&gt;
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        description: Message signature
        required: true
        schema:
          maxLength: 1024
          type: string
      responses:
        200:
          description: successful response from FPX
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_3'
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
          x-amf-mediaType: application/json
        401:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        429:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
      security:
      - OAuth 2.0: []
  /payments/exchanges/{exchangeId}/sellers/{sellerId}/transactions/{transactionId}/cancel:
    put:
      description: Cancel Payment API (or AX message) is used to cancel a FPX transaction
      operationId: Cancel Payment
      parameters:
      - name: exchangeId
        in: path
        description: Exchange identification assigned by FPX. E.g. EX00000374
        required: true
        schema:
          type: string
      - name: sellerId
        in: path
        description: Seller identification assigned by FPX. E.g. SE00000585
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: Unique identification generated by FPX for each payment request
          received from Merchant. Format YYMMDDHH24MISS####
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer &lt;access_token&gt;
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        description: Message signature
        required: true
        schema:
          maxLength: 1024
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_4'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_5'
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
          x-amf-mediaType: application/json
        401:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        429:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
      security:
      - OAuth 2.0: []
      x-codegen-request-body-name: generated
  /banks: {}
  /banks/exchanges: {}
  /banks/exchanges/{exchangeId}: {}
  /banks/exchanges/{exchangeId}/model/{model}/status:
    get:
      description: Retrieve Bank List API (or BE message) is used to get the latest
        list of Buyer Bank and its status
      operationId: Retrieve Bank List
      parameters:
      - name: messageId
        in: query
        description: |
          Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
          <li>YYYYMMDD – Current Date</li>
          <li>BBBBBBBB – Bank Code</li>
          <li>TTT – Transaction Type. Default to <b>318</b></li>
          <li>CCC – Channel Code. Default to <b>FPX</b></li>
          <li>SSSSSSSS – Sequence Number</li>
        required: true
        schema:
          maxLength: 35
          pattern: ^[a-zA-Z0-9]*$
          type: string
      - name: exchangeId
        in: path
        description: Exchange identification assigned by FPX. E.g. EX00000374
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: |
          Business model
          <li>B2C</li>
          <li>B2B1</li>
          <li>B2B2</li>
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer &lt;access_token&gt;
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        description: Message signature
        required: true
        schema:
          maxLength: 1024
          type: string
      responses:
        200:
          description: successful response from FPX
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_6'
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
          x-amf-mediaType: application/json
        401:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        429:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
        500:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
      security:
      - OAuth 2.0: []
      
  /notifications/downtime:
    post:
      description: Participant is required to publish a callback endpoint to receive
        notification from FPX on new maintenance request.
      operationId: Downtime Notification
      tags:
        - Webhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_5'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
      x-outbound: true
      x-outboundUrl: https://<domain>
      x-codegen-request-body-name: generated
      
webhooks:
  Downtime Notification:
    post:
      description: Participant is required to publish a callback endpoint to receive
        notification from FPX on new maintenance request.
      operationId: Downtime Notification
      parameters:
      - name: X-Signature
        in: header
        description: Message signature
        required: true
        schema:
          maxLength: 1024
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_7'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
      x-outbound: true
      x-outboundUrl: https://<domain>
      x-codegen-request-body-name: generated
components:
  schemas:
    type:
      required:
      - amount
      - exchangeOrderNumber
      - makerName
      - messageId
      - refunds
      - sellerAccNo
      - sellerBankBranch
      - sellerBankId
      - sellerName
      - sellerOrderNumber
      - sellerRegistrationId
      type: object
      properties:
        messageId:
          maxLength: 35
          type: string
          description: |
            Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
            <li>YYYYMMDD – Current Date</li>
            </li>BBBBBBBB – Bank Code</li>
            <li>TTT – Transaction Type. Default to <b>322</b></li>
            <li>CCC – Channel Code. Default to <b>FPX</b></li>
            <li>SSSSSSSS – Sequence Number</li>
        exchangeOrderNumber:
          maxLength: 40
          type: string
          description: Unique identification reference number generated by Exchange.
            Both ampersand (&) and apostrophe (') characters are not supported
        sellerOrderNumber:
          maxLength: 40
          type: string
          description: Order number generated by Merchant. Both ampersand (&) and
            apostrophe (') characters are not supported
        amount:
          type: number
          description: Total transaction amount in MYR to be refunded
        sellerName:
          maxLength: 40
          type: string
          description: Seller Name
        sellerRegistrationId:
          maxLength: 20
          type: string
          description: Seller Registration Id
        sellerBankId:
          maxLength: 10
          type: string
          description: Seller Bank Id
        sellerBankBranch:
          maxLength: 10
          type: string
          description: Seller Bank Branch
        sellerAccNo:
          maxLength: 20
          type: string
          description: Seller Account Number
        makerName:
          maxLength: 40
          type: string
          description: Maker Name
        refunds:
          type: array
          items:
            required:
            - amount
            - sellerId
            - sellerOrderNumber
            type: object
            properties:
              sellerOrderNumber:
                maxLength: 16
                type: string
                description: FPX transaction identification to be refunded
              sellerId:
                maxLength: 10
                type: string
                description: Seller identification of the transaction to be refunded
              amount:
                type: number
                description: Amount to be refunded to the original transaction
      example:
        messageId: 20211001APGWMYKL322FPX00000000
        exchangeOrderNumber: "1015738756484823025"
        sellerOrderNumber: "1132582697504810095"
        amount: 2000
        sellerName: PJSC SDN BHD
        sellerRegistrationId: A03938-X
        sellerBankId: TEST0021
        sellerBankBranch: Petaling
        sellerAccNo: "122900498337"
        makerName: Account Controller
        refunds:
        - sellerOrderNumber: "1904081026090434"
          sellerId: SE00004441
          amount: 1000
        - sellerOrderNumber: "1904081026090435"
          sellerId: SE00005552
          amount: 1000
    type_1:
      required:
      - code
      - debitAuthorizationCode
      - exchangeId
      - exchangeOrderNumber
      - messageId
      - refunds
      - sellerOrderNumber
      - transactionId
      type: object
      properties:
        messageId:
          maxLength: 35
          type: string
          description: |
            Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
            <li>YYYYMMDD – Current Date</li>
            </li>BBBBBBBB – Bank Code</li>
            <li>TTT – Transaction Type. Default to <b>322</b></li>
            <li>CCC – Channel Code. Default to <b>FPX</b></li>
            <li>SSSSSSSS – Sequence Number</li>
        code:
          maxLength: 7
          type: string
          description: |
            Status code
            <li>API.000 – Accepted</li>
            <li>FPX.XXX – Rejected</li>
        description:
          maxLength: 140
          type: string
          description: Reason code description
        transactionId:
          maxLength: 16
          type: string
          description: FPX transaction identification
        exchangeId:
          maxLength: 10
          type: string
          description: Exchange identification
        exchangeOrderNumber:
          maxLength: 40
          type: string
          description: Exchange order number
        sellerOrderNumber:
          maxLength: 40
          type: string
          description: Seller order number
        debitAuthorizationCode:
          maxLength: 2
          type: string
          description: Debit authorization code
        refunds:
          type: array
          items:
            required:
            - amount
            - debitAuthorizationCode
            - sellerId
            - sellerOrderNumber
            type: object
            properties:
              sellerOrderNumber:
                maxLength: 16
                type: string
                description: Original FPX transaction identification
              sellerId:
                maxLength: 10
                type: string
                description: Seller identification
              amount:
                type: number
                description: Amount refunded
              transactionId:
                maxLength: 16
                type: string
                description: FPX transaction identification for the refund transaction
              debitAuthorizationCode:
                maxLength: 2
                type: string
                description: Debit response code from Buyer Bank
              debitAuthorizationNumber:
                maxLength: 10
                type: string
                description: Value is provided only if <b>debitAuthorizationCode</b>
                  is 00
      example:
        messageId: 20211001APGWMYKL322FPX00000000
        code: API.000
        description: Success / Transaction Accepted
        transactionId: "1904081552050456"
        exchangeId: EX00002320
        exchangeOrderNumber: "1015738756484823025"
        sellerOrderNumber: "1132582697504810095"
        debitAuthorizationCode: "00"
        refunds:
        - sellerOrderNumber: "1904081026090434"
          sellerId: SE00004441
          amount: 1000
          transactionId: "1904081552050457"
          debitAuthorizationCode: "00"
          debitAuthorizationNumber: "1012345678"
        - sellerOrderNumber: "1904081026090435"
          sellerId: SE00005552
          amount: 1000
          transactionId: "1904081552050457"
          debitAuthorizationCode: "00"
          debitAuthorizationNumber: "99999999"
    error400:
      required:
      - code
      - messageId
      type: object
      properties:
        messageId:
          maxLength: 35
          type: string
          description: |
            Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
            <li>YYYYMMDD – Current Date</li>
            </li>BBBBBBBB – Bank Code</li>
            <li>TTT – Transaction Type</li>
            <li>CCC – Channel Code. Default to <b>FPX</b></li>
            <li>SSSSSSSS – Sequence Number</li>
        code:
          maxLength: 35
          type: string
          description: Reason code
        description:
          maxLength: 140
          type: string
          description: Reason code description
      example:
        messageId: 20211001APGWMYKL322FPX00000000
        code: API.002
        description: messageId - invalid format
    type_2:
      required:
      - code
      - exchangeId
      - exchangeOrderNumber
      - messageId
      - refunds
      - sellerOrderNumber
      - transactionId
      type: object
      properties:
        messageId:
          maxLength: 35
          type: string
          description: |
            Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
            <li>YYYYMMDD – Current Date</li>
            </li>BBBBBBBB – Bank Code</li>
            <li>TTT – Transaction Type. Default to <b>320</b></li>
            <li>CCC – Channel Code. Default to <b>FPX</b></li>
            <li>SSSSSSSS – Sequence Number</li>
        code:
          maxLength: 7
          type: string
          description: |
            Status code
            <li>API.000 – Accepted</li>
            <li>FPX.XXX – Rejected</li>
        description:
          maxLength: 140
          type: string
          description: Reason code description
        transactionId:
          maxLength: 16
          type: string
          description: FPX transaction identification
        exchangeId:
          maxLength: 10
          type: string
          description: Exchange identification
        exchangeOrderNumber:
          maxLength: 40
          type: string
          description: Exchange order number
        sellerOrderNumber:
          maxLength: 40
          type: string
          description: Seller order number
        refunds:
          type: array
          items:
            required:
            - debitAuthorizationCode
            - refundAmount
            - sellerId
            - sellerOrderNumber
            type: object
            properties:
              sellerOrderNumber:
                maxLength: 16
                type: string
                description: Seller order number
              sellerId:
                maxLength: 10
                type: string
                description: Seller identification
              refundAmount:
                type: number
                description: Refund amount
              transactionId:
                maxLength: 16
                type: string
                description: FPX transaction identification
              debitAuthorizationCode:
                maxLength: 2
                type: string
                description: Debit response code from Buyer Bank
              debitAuthorizationNumber:
                maxLength: 10
                type: string
                description: Value is provided only if <b>debitAuthorizationCode</b>
                  is 00
      example:
        messageId: 20211001APGWMYKL320FPX00000001
        code: API.000
        description: Success / Transaction Accepted
        transactionId: "1904081552050456"
        exchangeId: EX00002320
        exchangeOrderNumber: "1015738756484823025"
        sellerOrderNumber: "1132582697504810095"
        refunds:
        - sellerId: SE00004441
          sellerOrderNumber: "1904081026090434"
          refundAmount: 100
          debitAuthorizationCode: "00"
          debitAuthorizationNumber: "1012345678"
          transactionId: "1904081552050457"
        - sellerId: SE00005552
          sellerOrderNumber: "1904081026090435"
          refundAmount: 100
          debitAuthorizationCode: "00"
          debitAuthorizationNumber: "1012345678"
          transactionId: "1904081552050457"
    type_3:
      required:
      - code
      - creditAuthorizationCode
      - debitAuthorizationCode
      - exchangeId
      - exchangeOrderNumber
      - messageId
      - sellerOrderNumber
      - transactionId
      type: object
      properties:
        messageId:
          maxLength: 35
          type: string
          description: |
            Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
            <li>YYYYMMDD – Current Date</li>
            </li>BBBBBBBB – Bank Code</li>
            <li>TTT – Transaction Type. Default to <b>319</b></li>
            <li>CCC – Channel Code. Default to <b>FPX</b></li>
            <li>SSSSSSSS – Sequence Number</li>
        code:
          maxLength: 7
          type: string
          description: |
            Status code
            <li>API.000 – Accepted</li>
            <li>FPX.XXX – Rejected</li>
        description:
          maxLength: 140
          type: string
          description: Reason code description
        transactionId:
          maxLength: 16
          type: string
          description: FPX transaction identification
        exchangeId:
          maxLength: 10
          type: string
          description: Exchange identification
        exchangeOrderNumber:
          maxLength: 40
          type: string
          description: Exchange order number
        sellerOrderNumber:
          maxLength: 40
          type: string
          description: Seller order number
        debitAuthorizationCode:
          maxLength: 2
          type: string
          description: Debit response code from Buyer Bank
        debitAuthorizationNumber:
          maxLength: 10
          type: string
          description: Value is provided only if <b>debitAuthorizationCode</b> is
            00
        creditAuthorizationCode:
          maxLength: 2
          type: string
          description: Credit response code from Seller Bank
        creditAuthorizationNumber:
          maxLength: 10
          type: string
          description: Value is provided only if <b>creditAuthorizationCode</b> is
            00
      example:
        messageId: 20211001APGWMYKL319FPX00000001
        code: API.000
        description: Success/ Transaction Accepted
        transactionId: "1610181200130689"
        exchangeId: EX00002460
        exchangeOrderNumber: "2204757146129723630"
        sellerOrderNumber: "1132582697504810095"
        debitAuthorizationCode: "00"
        debitAuthorizationNumber: "15733223"
        creditAuthorizationCode: "00"
        creditAuthorizationNumber: "10096415"
    type_4:
      required:
      - exchangeOrderNumber
      - messageId
      - sellerOrderNumber
      type: object
      properties:
        messageId:
          maxLength: 35
          type: string
          description: |
            Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
            <li>YYYYMMDD – Current Date</li>
            <li>BBBBBBBB – Bank Code</li>
            <li>TTT – Transaction Type. Default to <b>321</b></li>
            <li>CCC – Channel Code. Default to <b>FPX</b></li>
            <li>SSSSSSSS – Sequence Number</li>
        exchangeOrderNumber:
          maxLength: 40
          type: string
          description: Exchange order number of the transaction to be cancelled. Both
            ampersand (&) and apostrophe (') characters are not supported
        sellerOrderNumber:
          maxLength: 40
          type: string
          description: Seller order number of the transaction to be cancelled. Both
            ampersand (&) and apostrophe (') characters are not supported
      example:
        messageId: 20211001APGWMYKL321FPX00000001
        exchangeOrderNumber: "8409064171163719153"
        sellerOrderNumber: "8387036127029875582"
    type_5:
      required:
      - code
      - debitAuthorizationCode
      - exchangeId
      - exchangeOrderNumber
      - messageId
      - sellerOrderNumber
      - status
      - transactionId
      type: object
      properties:
        messageId:
          maxLength: 35
          type: string
          description: |
            Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
            <li>YYYYMMDD – Current Date</li>
            </li>BBBBBBBB – Bank Code</li>
            <li>TTT – Transaction Type. Default to <b>321</b></li>
            <li>CCC – Channel Code. Default to <b>FPX</b></li>
            <li>SSSSSSSS – Sequence Number</li>
        code:
          maxLength: 7
          type: string
          description: |
            Status code
            <li>API.000 – Accepted</li>
            <li>FPX.XXX – Rejected</li>
        description:
          maxLength: 140
          type: string
          description: Reason code description
        transactionId:
          maxLength: 16
          type: string
          description: FPX transaction identification
        exchangeId:
          maxLength: 10
          type: string
          description: Exchange identification
        exchangeOrderNumber:
          maxLength: 40
          type: string
          description: Exchange order number
        sellerOrderNumber:
          maxLength: 40
          type: string
          description: Seller order number
        debitAuthorizationCode:
          maxLength: 2
          type: string
          description: Debit response code from Buyer Bank
        debitAuthorizationNumber:
          maxLength: 10
          type: string
          description: Value provided only if <b>debitAuthorizationCode</b> is 00
        status:
          maxLength: 3
          type: string
          description: |-
            Cancellation request status
            <li>00 – Request is successful</li>
            <li>2X – Request is rejected</li>
      example:
        messageId: 20211001APGWMYKL321FPX00000000
        code: API.000
        description: Success / Transaction Accepted
        transactionId: "1610181200130689"
        status: "00"
        exchangeId: EX00002460
        exchangeOrderNumber: "8409064171163719153"
        sellerOrderNumber: "1132582697504810095"
        debitAuthorizationCode: "00"
        debitAuthorizationNumber: "15733223"
    type_6:
      required:
      - banks
      - code
      - messageId
      type: object
      properties:
        messageId:
          maxLength: 35
          type: string
          description: |
            Unique message identification. Format YYYYMMDDBBBBBBBBTTTCCCSSSSSSSS where:
            <li>YYYYMMDD – Current Date</li>
            </li>BBBBBBBB – Bank Code</li>
            <li>TTT – Transaction Type. Default to <b>318</b></li>
            <li>CCC – Channel Code. Default to <b>FPX</b></li>
            <li>SSSSSSSS – Sequence Number</li>
        code:
          maxLength: 7
          type: string
          description: |
            Status code
            <li>API.000 – Accepted</li>
            <li>FPX.XXX – Rejected</li>
        description:
          maxLength: 140
          type: string
          description: Reason code description
        banks:
          type: array
          items:
            required:
            - code
            - name
            - status
            type: object
            properties:
              code:
                maxLength: 8
                type: string
                description: Bank code
              status:
                maxLength: 15
                type: string
                description: |
                  Bank status
                  <li>Active – Bank is online</li>
                  <li>Blocked – Bank is offline</li>
              name:
                maxLength: 40
                type: string
                description: Bank name
      example:
        messageId: 20211001APGWMYKL318FPX00000001
        code: API.000
        description: Success/ Transaction Accepted
        banks:
        - code: ABB0232
          name: AFFIN BANK MALAYSIAN BERHAD
          status: Active
        - code: AH001
          name: After Hour Bank
          status: Blocked
        - code: BCBB0235
          name: CIMB BANK BERHAD
          status: Blocked
        - code: BGB004
          name: BANGKOK BANK
          status: Blocked
        - code: HLB0224
          name: HONG LEONG BANK
          status: Blocked
        - code: TEST0021
          name: SBI BANK A BERHAD
          status: Active
        - code: TEST0022
          name: SBI BANK B
          status: Active
        - code: TEST0023
          name: SBI BANK CS
          status: Active
        - code: TEST0031
          name: MFPX BANK A
          status: Active
        - code: TEST0035
          name: SBI BANK H BERHAD
          status: Active
    type_7:
      required:
      - date
      - endDate
      - endTime
      - interval
      - model
      - schedulerId
      - startDate
      - startTime
      - type
      type: object
      properties:
        date:
          type: string
          description: Downtime start date in DD/MM/YYYY hh:mm:ss format
        schedulerId:
          type: string
          description: Scheduler Id
        model:
          type: string
          description: |
            Business model
            <li>01 – B2C</li>
            <li>02 – B2B1</li>
            <li>03 – B2B2</li>
        type:
          type: string
          description: Request type
        reason:
          type: string
          description: Reason of the downtime request
        startDate:
          type: string
          description: Downtime start date in DD/MM/YYYY format
        endDate:
          type: string
          description: Downtime end date in DD/MM/YYYY format
        startTime:
          type: string
          description: Downtime start time in 24-hour format until minute (HH:mi)
        endTime:
          type: string
          description: Downtime end time in 24-hour format until minute (HH:mi)
        interval:
          type: string
          description: |-
            Frequency type
            <li>ONCE – One-time</li>
      example:
        date: 22/09/2021 03:02:42
        schedulerId: "00000275"
        model: B2C
        type: NEW
        reason: System maintenance
        startDate: 22/09/2021
        endDate: 22/09/2021
        startTime: 17:30
        endTime: 19:00
        interval: ONCE
  securitySchemes:
    OAuth 2.0:
      type: oauth2
      description: |
        This API supports OAuth 2.0 for authenticating all API requests.
      flows:
        clientCredentials :   # <---- OAuth flow(authorizationCode, implicit, password or clientCredentials)
          tokenUrl: https://sandbox.api.paynet.my/auth/token
          scopes:
            fpx:merchant: Merchants Access Rights
      x-amf-describedBy:
        headers:
          authorization:
            description: |
              Used to send a valid OAuth 2 access token. Do not use with the "access_token" query
              string parameter.
            type: string
        queryParameters:
          access_token:
            description: |
              Used to send a valid OAuth 2 access token. Do not use together with the "Authorization"
              header
            type: string
        responses:
          400:
            description: Invalid token.
          401:
            description: |
              Unauthorized or Connection error when connecting to the authorization server.
          403:
            description: |
              Forbidden, invalid client application credentials.
          500:
            description: |
              Bad response from authorization server, or WSDL SOAP Fault error.
      x-amf-settings:
        authorizationGrants:
        - client_credentials
